@media (max-width:964px) {
    .contact-container{
        margin: 0 auto;
        width: 90%;

    }
    
}


@media (max-width:700px){
    .contact-container{
        grid-template-columns: 1fr;
        gap:1rem;

    }
    
    .map iframe{
        height: 400px;
    }

}